<div class="container">
    <h1>Carrito</h1>
    <div aria-hidden="true">
        <div class="ant-divider ant-divider-horizontal" role="separator"></div>
    </div>
    <div style="display: block; text-align: center;">
        <div class="ant-result ant-result-warning">
            <div class="ant-result-icon">
                <span role="img" aria-hidden="true" class="anticon" style="color: rgba(0, 0, 0, 0.726);">
                    <svg width="200px" height="150px" fill="currentColor" viewBox="0 0 161 102">
                        <path d="m116.559,80.139h-52.908l2.656-5.411,44.139-.08c1.493,0,2.772-1.066,3.039-2.541l6.113-34.215c.16-.897-.08-1.821-.666-2.523-.587-.699-1.451-1.105-2.363-1.111l-56.151-.187-.48-2.257c-.302-1.439-1.599-2.488-3.074-2.488h-13.727c-1.732,0-3.136,1.404-3.136,3.136s1.404,3.136,3.136,3.136h11.186l2.097,9.969,5.162,24.992-6.646,10.848c-.704.95-.807,2.218-.267,3.27.533,1.057,1.608,1.724,2.799,1.724h5.58c-1.189,1.58-1.832,3.504-1.83,5.482,0,5.029,4.087,9.116,9.116,9.116s9.116-4.087,9.116-9.116c0-1.981-.657-3.909-1.83-5.482h14.313c-1.189,1.58-1.832,3.504-1.83,5.482,0,5.029,4.087,9.116,9.116,9.116s9.116-4.087,9.116-9.116c0-1.981-.657-3.909-1.83-5.482h10.066c1.724,0,3.136-1.404,3.136-3.136-.011-1.73-1.415-3.126-3.145-3.127Zm-54.836-39.883l51.158.169-5.011,28.058-40.185.071-5.962-28.297Zm8.609,54.436c-1.546,0-2.808-1.262-2.808-2.808s1.262-2.808,2.808-2.808,2.808,1.262,2.808,2.808-1.257,2.808-2.808,2.808Zm28.884,0c-1.546,0-2.808-1.262-2.808-2.808s1.262-2.808,2.808-2.808,2.808,1.262,2.808,2.808-1.257,2.808-2.808,2.808Z"></path>
                        <path class="cls-1" d="m146.429,15.455c0-.232.074-.458.212-.645l6.687-9.089-.048-.071h-5.546c-.601,0-1.089-.487-1.089-1.089v-1.885c0-.601.487-1.089,1.089-1.089h10.612c.601,0,1.089.487,1.089,1.089v1.985c0,.236-.077.466-.219.654l-6.921,9.205.048.072h6.003c.601,0,1.089.487,1.089,1.089v1.885c0,.601-.487,1.089-1.089,1.089h-10.828c-.601,0-1.089-.487-1.089-1.089v-2.112Z"></path>
                        <path class="cls-1" d="m132.24,22.884c0-.166.053-.327.151-.461l4.776-6.491-.034-.051h-3.961c-.429,0-.778-.348-.778-.778v-1.347c0-.429.348-.778.778-.778h7.579c.429,0,.778.348.778.778v1.418c0,.169-.055.333-.156.467l-4.943,6.575.034.052h4.288c.429,0,.778.348.778.778v1.347c0,.429-.348.778-.778.778h-7.734c-.429,0-.778-.348-.778-.778v-1.508Z"></path>
                        <path class="cls-1" d="m121.842,28.594c0-.118.038-.233.108-.328l3.401-4.622-.024-.036h-2.821c-.306,0-.554-.248-.554-.554v-.959c0-.306.248-.554.554-.554h5.397c.306,0,.554.248.554.554v1.01c0,.12-.039.237-.111.333l-3.52,4.681.024.037h3.053c.306,0,.554.248.554.554v.959c0,.306-.248.554-.554.554h-5.507c-.306,0-.554-.248-.554-.554v-1.074Z"></path>
                        <path class="cls-1" d="m71.571,52.357c-.067,0-.135-.004-.203-.012-.94-.111-1.613-.963-1.501-1.904.421-3.566,3.501-6.214,7-6.051,3.146.156,5.791,2.586,6.289,5.778.146.936-.494,1.812-1.43,1.958-.937.147-1.812-.494-1.958-1.43-.249-1.594-1.54-2.806-3.071-2.881-1.673-.072-3.217,1.275-3.425,3.028-.103.872-.844,1.514-1.701,1.514Z"></path>
                        <path class="cls-1" d="m92.572,52.357c-.067,0-.135-.004-.203-.012-.94-.111-1.613-.963-1.501-1.904.421-3.566,3.492-6.214,7-6.051,3.146.156,5.791,2.586,6.289,5.778.146.936-.494,1.812-1.43,1.958-.936.147-1.812-.494-1.958-1.43-.249-1.594-1.541-2.806-3.071-2.881-1.666-.091-3.217,1.275-3.424,3.028-.103.872-.844,1.514-1.701,1.514Z"></path>
            </div>
            <div>
                <h1>No hay productos en su carrito</h1>
            </div>
            <div class="ant-result-subtitle"></div>
        </div>
    </div>
</div>

<div class="contenedorLibros">
    {{#each docs}}
    
    <div class="card cardLibro" style="width: 13rem;">
    <a href="/products/{{this.id}}">
        <img src="{{this.img}}" class="card-img-top imgCard" alt="{{this.title}}">
    </a>
    <div class="card-body descripcionCard">
        <h4 class="card-title">{{this.title}}</h4>
        <h6 class="card-title">Categoría: {{this.category}}</h6>
        <h6 class="card-title">Stock: {{this.stock}}</h6>
        <div class="precioCarrito">
            <h4 class="card-title" style="color: black;">${{this.price}}</h4> 
           <img src="/images/cart.svg" class="carrito" alt="Carrito"/>
        </div>
    </div>
</div>
    {{/each}}
</div>