<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/images/imagenPortada.png" class="imagenPrincipal" alt="imagenPortada">
<div>
    <h1>Nuevos Ingresos!!</h1>

<div class="contenedorNewLibros">
    {{#each docs}}
    <div class="card cardLibro" style="width: 13rem;">
    <a href="/products/{{this.id}}">
        <img src="{{this.img}}" class="card-img-top imgCard" alt="{{this.title}}">
    </a>
    <div class="card-body descripcionCard">
        <h4 class="card-title">{{this.title}}</h4>
        <h6 class="card-title">Categoría: {{this.category}}</h6>
        <h6 class="card-title">Stock: {{this.stock}}</h6>
        <div class="precioCarrito">
            <h4 class="card-title" style="color: black;">${{this.price}}</h4> 
            <img src="/images/cart.svg" class="carrito" alt="Carrito">
        </div>
    </div>
</div>

    {{/each}}
</div>
</div>
</div>
</body>
</html>